/*----------------------------------------*/
/*  03. globel
/*----------------------------------------*/
@media (min-width: 1024px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1320px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.sco_agency {
	background-color: var(--color-white);
	color: var(--color-default-two);
	main {
		background-color: var(--color-white);
	}
}
.cybersecurity {
	background: #010315;
	color: var(--color-white);
	main {
		background: #010315;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: var(--color-white);
		text-transform: capitalize;
		font-family: var(--font-heading-two);
	}
}
.help_desk {
	background: #fefaf2;
	main {
		background: #fefaf2;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		color: var(--color-heading-three);
		font-family: var(--font-heading-three);
	}
}
.cloud-and-devops{
	font-weight: 500;
	background: #f8f6f1;
	color: var(--color-heading-four);
	main {
		background: #f8f6f1;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 800;
		text-transform: uppercase;
		color: var(--color-heading-four);
		font-family: var(--font-heading-four);
		
	}
}
.data_analytics {
	background: var(--color-white);
	color: var(--color-heading-four);
	font-family: var(--font-heading-five);
	main {
		background: var(--color-white);
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		text-transform: capitalize;
		color: var(--color-heading-four);
		font-family: var(--font-heading-five);
		
	}
}
.bg-white {
	background: var(--color-white);
}
.mxw_1660 {
	max-width: 1660px;
}
.mxw_1820 {
	max-width: 1820px;
}
.pd-70 {
	padding: 0 70px;
	
}
.container.px-60 {
	@include respond(md) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.g-10 {
	margin: 0 -5px;
	& > * {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.o-hidden {
	overflow: hidden;
}
.bg-yellow {
	background: var(--color-yellow) !important;
	color: var(--color-heading-two) !important;
}
.m-lr {
	margin-left: 160px;
	margin-right: 160px;
	@include respond(laptop) {
		margin-left: 10px;
		margin-right: 10px;
	}
	@include respond(lg) {
		margin-left: 10px;
		margin-right: 10px;
	}
}
.border-blue {
	&::before {
		background: #0f55dc !important;
	}
}
.border-sky {
	&::before {
		background: #3cc !important;
	}
}
.clr-white {
	color: #fff !important;
}
.clr-blue {
	background: #0f55dc !important;
}
.clr-sky {
	background: #3cc !important;
}
.clr-orange {
	background: #f65a0b !important;
}
.sec-bg {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: '';
        z-index: -1;
		@include border-radius(50px);
        background:  linear-gradient(122deg, rgba(255, 217, 17, 0) 0%, rgba(233, 226, 255, 0.8) 34.54%, #cae1f7 62.5%, rgba(250, 232, 138, 0.56) 100%), radial-gradient(74.51% 50% at 50% 100%, rgb(255, 255, 255) 24.089999496936798%, rgb(255, 255, 255) 100%);
		background: url(../img/bg/about_bg.png) center center / cover no-repeat;
    }
	&--2::before {
		background-image: url(../img/bg/sec_bg.png);
		@include border-radius(0);
	}
}
.cd-sec-shape {
	.shape {
		z-index: -1;
		position: absolute;
		&--one {
			left: 0;
			top: 0;
		}
		&--two {
			left: 0;
			bottom: 0;
		}
		&--three {
			right: 0;
			top: 0;
		}
		&--four {
			right: 0;
			bottom: 0;
		}
	}
}
// tagcloud
.tagcloud, .tags-links {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
    margin: -10px;
    a {
        display: block;
        color: #5D6A83;
  		border: 1px solid #EEE5E5;
		background-color: var(--color-white);
        min-height: 36px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 500;
        padding: 4px 17px;
        margin: 7px;
        position: relative;
		@include border-radius(5px);
		&:hover {
			color: var(--color-white);
			background-color: var(--color-primary);
			border-color: var(--color-primary);
		}
    }
}

.body-overlay {
	background-color: #000000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1010;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear 0s;
	transition: all 600ms ease;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
}
.tags-links a {
	min-height: 32px;
	padding: 2px 17px;
}
.body-overlay.active {
	opacity: .5;
	visibility: visible;
}
.demo-senior-care {
	.body_wrap {
		background-color: var(--color-white);
		padding-left: 80px;
		padding-right: 80px;
		@include respond(laptop) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@include respond(lg) {
			padding: 0;
		}
	}
}
// post tags
.post-tags {
    li {
        font-size: 15px;
        text-transform: capitalize;
        position: relative;
        &:not(:first-child, :last-child) {
            margin-right: 11px;
            padding-right: 15px;
            &::before {
                position: absolute;
                top: 50%;
                right: 0;
                @include transform(translateY(-50%));
                width: 5px;
                height: 5px;
                background-color: var(--color-primary);
                @include border-radius(50%);
                content: "";
            }
        }
        span {
            display: inline-block;
            background-color: var(--color-primary);
            padding: 0px 10px;
            line-height: 25px;
            color: var(--color-white);
            @include border-radius(3px);
            margin-right: 12px;
        }
        a {
            color: var(--color-black);
            &:hover {
                color: var(--color-black);
            }
        }
    }
}

.mfp-zoom-in .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.mfp-zoom-in.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

body .mfp-wrap .mfp-container .mfp-content .mfp-close {
	padding: 0;
	right: 0;
	text-align: center;
	top: -36px;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background: var(--color-white);
	cursor: pointer;
	opacity: 1;
	font-size: 0;
	border: 9px solid transparent;
	position: absolute;
}
body .mfp-wrap .mfp-container .mfp-content .mfp-figure .mfp-close {
	top: 4px;
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close::before, body .mfp-wrap .mfp-container .mfp-content .mfp-close::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	transform-origin: 50% 50%;
	-webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-khtml-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-moz-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-ms-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-o-transition: all .25s cubic-bezier(.645,.045,.355,1);
	transition: all .25s cubic-bezier(.645,.045,.355,1);
	background-color: #222;
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close::before {
	-webkit-transform: rotate(45deg);
	-khtml-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close::after {
	-webkit-transform: rotate(-45deg);
	-khtml-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::before, body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::after {
	-webkit-transform: rotate(0);
	-khtml-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::before, body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::after {
	-webkit-transform: rotate(0);
	-khtml-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
.mfp-iframe-holder .mfp-content {
	max-width: 1170px;
}
// swiper
.xb-carousel-inner {
	margin: -30px;
}
.xb-swiper-sliders {
	position: relative;
}
.xb-swiper-container {
	overflow: hidden;
	padding: 30px;
}
.xb-swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform; 
	transition-property: transform,-webkit-transform;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.xb-swiper-slide:not(.swiper-slide-visible) {
	opacity: 0;
}
.xb-swiper-slide{
	-webkit-transition: opacity 0.25s cubic-bezier(.71,.02,.31,1);
	-khtml-transition: opacity 0.25s cubic-bezier(.71,.02,.31,1);
	-moz-transition: opacity 0.25s cubic-bezier(.71,.02,.31,1);
	-ms-transition: opacity 0.25s cubic-bezier(.71,.02,.31,1);
	-o-transition: opacity 0.25s cubic-bezier(.71,.02,.31,1);
	transition: opacity 0.25s cubic-bezier(.71,.02,.31,1);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

.z-index-2 {
	z-index: 2;
	position: relative;
}
.xb-overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.xb-overlay-link {
	z-index: 1;
}
.text-12 {
	font-size: 12px;
}
.letter-spacing-0 {
	letter-spacing: 0;
}
.margin-none-md {
	@include respond(md) {
		margin-bottom: 0;
	}
}
.mb-30-xs {
	@include respond(xs) {
		margin-bottom: 30px;
	}
}
.br-20 {
	@include border-radius(20px);
}
.z-1 {
	z-index: 1;
}
.z-3 {
	position: relative;
	z-index: 3;
}

.ml-auto {
	margin-left: auto;
}
.align-end {
	align-items: flex-end;
}
.xb-hover-zoom {
	&:hover {
		.xb-item--img img {
			@include transform(scale(1.08));
		}
	}
	.xb-item--img {
		overflow: hidden;
		img {
			@include transition(.4s);
		}
	}
}
.xb-law-swiper-arrow {
    .xb-swiper-arrow {
		border: 1px solid rgba(255, 255, 255, 0.12);
        width: 60px;
        height: 60px;
        @include border-radius(50%);
        @include center;
        font-size: 15px;
        color: var(--color-white);
        @include transition(.3s);
		&.xb-swiper-arrow-next {
            margin-left: 10px;
        }
        &:hover,
		&.xb-swiper-arrow-next {
			color: var(--color-law);
			background-color: var(--color-white);

        }
    }
}
.xb-law-swiper-arrow-main-color {
    .xb-swiper-arrow {
        background-color: var(--color-law);
        color: var(--color-white);
    }
}
.pagination-style1 {
	bottom: -60px;
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: #162432;
	}
	&.style-white .swiper-pagination-bullet {
		background-color: var(--color-white);
	}
}
.text-heading {
	color: var(--color-heading);
}
.text-24 {
	font-size: 24px;
}
.weight-medium {
	font-weight: 500;
}

.xb-blur {
    background: var(--color-primary);
    filter: blur(139px);
    height: 481px;
    width: 481px;
    border-radius: 50%;
    z-index: -2;
	@include respond(md) {
		height: 300px;
  		width: 300px;
	}
	@include respond(xs) {
		height: 150px;
    	width: 150px;
	}
}
.row.g-150 {
	margin-left: -75px;
	margin-right: -75px;
	@include respond(laptop) {
		margin-left: -35px;
		margin-right: -35px;
	}
	@include respond(lg) {
		margin-left: -20px;
		margin-right: -20px;
	}
	& > * {
		padding-left: 75px;
		padding-right: 75px;
		@include respond(laptop) {
			padding-left: 35px;
			padding-right: 35px;
		}
		@include respond(lg) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.line_wrap {
	top: 0px;
	bottom: 0px;
	width: 100%;
	display: block;
	position: absolute;
	max-width: 1292px;
	margin: auto;
	@media only screen and (min-width: 1200px) and (max-width: 1300px) {
		max-width: 1171px;
	}
	@include respond(lg) {
		display: none;
	}
	.xb-line {
		&::before,
		&::after {
			position: absolute;
			top: 0;
			left: -1px;
			width: 1px;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.18);
			content: "";
			z-index: 2;
		}
		&::after {
			left: auto;
			right: 1px;
		}
	}
}
.xb-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	svg {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: visible;
	}
}

